@import "../../styles/variables";

.card {
  max-width: 20em;
  margin: auto;
  margin-top: $global-padding;
  padding: $global-padding;
}

.card-title {
  padding: 0;
}

.card-action {
  padding-top: $global-padding;
  text-align: right;
}
