.skill-container p {
  margin: 0;
  display: flex; }

.skill-container span {
  text-align: left;
  width: 50%; }

.skill-container .skill-name {
  padding-left: 5em; }

.skill-container .skill-value {
  padding-left: 1em; }
