.stat-container{
  p {
    margin: 0;
    display: flex;
  }

  span {
    text-align: left;
    width: 50%;
  }

  .stat-name {
    padding-left: 5em;
  }

  .stat-value {
    padding-left: 1em;
  }
}
